*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
audio
cover
/app/src/main/java/com/mad/besokminggu/audio/
/app/src/main/java/com/mad/besokminggu/cover/
screenshot/script.py
